.header__nav{
  display: flex;
  overflow: hidden;
}
.header__logo{
  flex: 1;
  display: flex;

  position: relative;
  padding: 20px;
}

.header__logo-overlay{
  position:absolute;
  inset: 0;
  width: 100%;

  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4{
  padding-left: 30px;

  color: #fff;
}
.header__menu{
  padding: 20px;
  list-style: none;
  display: flex;
  flex: 1.19;
  justify-content: space-around;
  align-items: center;
  gap: 64px;

}